mat-toolbar {
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
}

.drawer-container {
    width: 100dvw;
    height: 100dvh;
}

.drawer {
    padding: 20px;
}

.mat-drawer-backdrop {
    position: fixed;
}

router-outlet {
    padding: 20px;
}