<div id="learn-container">
    {{practiceSubjects | json}}
    {{folders | json}}
    {{categories | json}}
    <mat-accordion>
        <!-- interface response {
            collectionType: string,
            collectionId: string,
            nodeId: string,
            nodeName: string,
            nodeUrl: string,
            nodeType: string,
            order: number,
            nodeImage: string,
            showImage: string,
            skillLevel: number
          }
          json = json as response[];
          let practiceSubjects = json.filter((node: { nodeType: string; }) => node.nodeType == "SUBJECT");
          let folders = json.filter((node: { nodeType: string; }) => node.nodeType == "FOLDER");
          let categories = json.filter((node: { nodeType: string; }) => node.nodeType == "CATEGORY");
          return { practiceSubjects, folders, categories } -->
        <mat-expansion-panel *ngFor="let subject of practiceSubjects">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="subject-title">
                        <img src="{{subject.nodeImage}}" alt="subject-image" class="subject-image">
                        <span>{{subject.nodeName}}</span>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item *ngFor="let folder of folders" [routerLink]="['/learn', folder.collectionId]">
                    <mat-icon mat-list-icon>folder</mat-icon>
                    <h3 mat-line>{{folder.nodeName}}</h3>
                </a>
            </mat-nav-list>
        </mat-expansion-panel>

    </mat-accordion>
</div>