<div id="learn-container">
     <!-- interface response {
            collectionType: string,
            collectionId: string,
            nodeId: string,
            nodeName: string,
            nodeUrl: string,
            nodeType: string,
            order: number,
            nodeImage: string,
            showImage: string,
            skillLevel: number
          }
          json = json as response[];
          let practiceSubjects = json.filter((node: { nodeType: string; }) => node.nodeType == "SUBJECT");
          let folders = json.filter((node: { nodeType: string; }) => node.nodeType == "FOLDER");
          let categories = json.filter((node: { nodeType: string; }) => node.nodeType == "CATEGORY");
          return { practiceSubjects, folders, categories } -->
        Practice!
        <mat-accordion>
        <mat-expansion-panel *ngFor="let subject of practiceSubjects">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="subject-title">
                        <span>{{subject.nodeName}}</span>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                Under development...
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
    Folders
    <mat-accordion>
        <mat-expansion-panel *ngFor="let folder of folders">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="folder-title">
                        <span>{{folder.nodeName}}</span>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                Under development...
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>

        Other Categories
    <mat-accordion>

        <mat-expansion-panel *ngFor="let category of categories">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <div class="category-title">
                        <span>{{category.nodeName}}</span>
                    </div>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                Under development...
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-accordion>
</div>