<div class="bits-grid">
    <span class="bit">
      <p class="bit-number">0</p>
      <p class="bit-value" id="value0"></p>
    </span>
    <span class="bit">
      <p class="bit-number">1</p>
      <p class="bit-value" id="value1"></p>
    </span>
    <span class="bit">
      <p class="bit-number">2</p>
      <p class="bit-value" id="value2"></p>
    </span>
    <span class="bit">
      <p class="bit-number">3</p>
      <p class="bit-value" id="value3"></p>
    </span>
    <span class="bit">
      <p class="bit-number">4</p>
      <p class="bit-value" id="value4"></p>
    </span>
    <span class="bit">
      <p class="bit-number">5</p>
      <p class="bit-value" id="value5"></p>
    </span>
    <span class="bit">
      <p class="bit-number">6</p>
      <p class="bit-value" id="value6"></p>
    </span>
    <span class="bit">
      <p class="bit-number">7</p>
      <p class="bit-value" id="value7"></p>
    </span>
    <span class="bit">
      <p class="bit-number">8</p>
      <p class="bit-value" id="value8"></p>
    </span>
    <span class="bit">
      <p class="bit-number">9</p>
      <p class="bit-value" id="value9"></p>
    </span>
    <span class="bit">
      <p class="bit-number">10</p>
      <p class="bit-value" id="value10"></p>
    </span>
    <span class="bit">
      <p class="bit-number">11</p>
      <p class="bit-value" id="value11"></p>
    </span>
    <span class="bit">
      <p class="bit-number">12</p>
      <p class="bit-value" id="value12"></p>
    </span>
    <span class="bit">
      <p class="bit-number">13</p>
      <p class="bit-value" id="value13"></p>
    </span>
    <span class="bit">
      <p class="bit-number">14</p>
      <p class="bit-value" id="value14"></p>
    </span>
    <span class="bit">
      <p class="bit-number">15</p>
      <p class="bit-value" id="value15"></p>
    </span>
</div>