h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.5em;
    text-align: center;
    margin-top: 20px;
}

.footnote {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
    a {
        color: #ffffff;
        &:visited {
            color: #ffffff;
        }
    }
}

.grid-container {
    display: flex;
    justify-content: center;
}
.bits-grid {
    background-color: rgb(50 50 50);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 4px;
    padding: 16px;
    margin: 10px;
    border-radius: 16px;
    box-shadow: 0 0 10px #222222;
    width: fit-content;
    height: auto;
}

.bit {
    width: 64px;
    height: 64px;
    background-color: rgb(105, 105, 105);
    border: 1px solid black;
    border-radius: 6px;
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
    position: relative;

    p{
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
        position: absolute;
    };
    input {
        height: 62px;
        width: 62px;
        background: transparent;
        border: none;
        caret-color: white;
        color: white;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 24px;
        text-align: center;
        &:focus {
            outline: none;
        }
    }
    .bit-number {
        font-size: 16px;
        text-align: left;
        margin-left: 5px;
        margin-top: 5px;
    }
}

.bit:not(.parity):hover {
    background-color: rgb(69, 69, 69);
    border-radius: 12px;
    transform: scale(1.1);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

.parity {
    background-color: rgb(191 191 191);
    color: rgb(26 26 26);
    border: 1px solid black;
    border-radius: 6px;
}

button {
    background-color: #222222;
    color: #dfdfdf;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 8px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.button-label {
    display: inline-block;
    margin-inline-start: 8px;
    vertical-align: middle;
}
.button-icon {
    display: inline-block;
    vertical-align: middle;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

#generate-button {
    width: 100%;
}

:host {
    color: #ffffff;
}