h1{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 2.5em;
}

.footnote {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;

    a {
        color: #ffffff;

        &:visited {
            color: #ffffff;
        }
    }
}

.grid-container {
    display: flex;
    justify-content: center;
}

.bits-grid {
    background-color: rgb(23 23 23);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 8px;
    padding: 16px;
    margin: 10px;
    border-radius: 16px;
    box-shadow: inset 5px 7px 18px 7px #6d6d6d;
    width: fit-content;
    height: auto;
}

.bit {
    width: 64px;
    height: 64px;
    background-color: rgb(42 42 42);
    border-radius: 6px;
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
    position: relative;

    p {
        font-size: 24px;
        text-align: center;
        margin-top: 10px;
        position: absolute;
    }

    input {
        height: 62px;
        width: 62px;
        background: transparent;
        border: none;
        caret-color: white;
        color: white;
        font-family: Roboto, "Helvetica Neue", sans-serif;
        font-size: 24px;
        text-align: center;

        &:focus {
            outline: none;
        }
    }
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .bit-number {
        font-size: 16px;
        text-align: left;
        margin-left: 5px;
        margin-top: 5px;
    }
}

.bit:not(.parity):hover {
    background-color: rgb(69, 69, 69);
    border-radius: 12px;
    transform: scale(1.1);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

.parity {
    background-color: rgb(91 91 91);
    color: rgb(255 255 255);
    border-radius: 6px;

    input {
        color: rgb(255, 255, 255);
    }
}


button {
    background-color: #222222;
    color: #dfdfdf;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    margin: 8px;
    font-size: 16px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

button:hover {
    background-color: #333333;
    border-radius: 16px;
    transform: scale(1.025);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

.flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 75%;
    margin: 0 auto;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.button-label {
    display: inline-block;
    margin-inline-start: 8px;
    vertical-align: middle;
}

.button-icon {
    display: inline-block;
    vertical-align: middle;
}

.flex-break {
    flex-basis: 100%;
    height: 0;
}

#generate-button {
    width: 100%;
}

.result {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

:host {
    color: #ffffff;
    display: block;
    margin: auto;
    max-width: 800px;
}

#span1:hover {
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.05);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

#span2:hover {
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.05);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

#span4:hover {
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.05);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

#span8:hover {
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.05);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

#span0:hover {
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.05);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

#span1:hover ~ .parity1{
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.05);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

#span2:hover ~ .parity2{
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.025);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

#span4:hover ~ .parity4{
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.025);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

#span8:hover ~ .parity8{
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.025);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}

#span0:hover ~ .bit{
    background-color: rgb(23, 23, 23);
    border-radius: 12px;
    box-shadow: inset #b3b3b3 0 0 6px 0px;
    transform: scale(1.025);
    transition: background-color 0.3s, border-radius 0.3s, transform 0.3s;
}