/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import '@angular/material/prebuilt-themes/cyan-orange.css';
$theme: mat.define-theme((color: (theme-type: light,
  primary: mat.$orange-palette,
)));
html,
body {
  height: 100%;
  background-color: var(--mat-app-background-color);
  color: var(--mat-app-text-color);
  @include mat.all-component-themes($theme);
  font-family: Roboto, sans-serif;
  overflow: auto;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
}